<div class="w-52 min-h-screen bg-gray-900 px-2 sm:px-4 p-2">

  <h2
    class="font-bold block text-white"
    {{!-- class="font-bold block py-2 pr-4 pl-3 md:hover:bg-transparent md:border-0 md:p-0 text-white" --}}
  >Subscribed threads:</h2>
  {{#if logged_in}}
    <ul
      class="nav bg-gray-900 text-sm"
      {{!-- class="nav p-4 mt-4 md:text-sm md:font-medium bg-gray-900 md:bg-gray-900 border-gray-700" --}}
    >
      {{#each subs.users_subscribed_threads as |threads|}}
        <li
          class="text-gray-400 hover:text-white pl-2 pt-2"
          {{!-- class="py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-100 md:border-0 md:p-0 text-gray-400 hover:bg-gray-900 hover:text-white" --}}
        >
          <a href="/thread/{{threads.id}}">
            {{threads.thread_name}}
          </a>
        </li>
      {{/each}}
    </ul>

  {{else}}
    <ul
      class="nav flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium bg-gray-900 md:bg-gray-900 border-gray-700"
    >
      <li class="block py-2 pr-4 pl-3 text-gray-700">
        Please
        <a
          href="/login"
          class="hover:bg-gray-100 md:border-0 md:p-0 text-gray-400 hover:bg-gray-900 hover:text-white"
        >
          login
        </a>
        to see Subscribed threads
      </li>

    </ul>
  {{/if}}
</div>