{{! This renders the subscribed threads }}
<div class="w-52 min-h-screen bg-gray-900 px-2 sm:px-4 p-2">

  <h2 class="font-bold block text-white font-mono pt-2">Subscribed threads:</h2>
  {{#if logged_in}}
    {{! if logged in setup unordered list }}

    <ul class="nav bg-gray-900 text-sm font-mono">
      {{#each subs.users_subscribed_threads as |threads|}}
        {{! for each subscribed threads subscribe print it to list }}
        <li class="text-gray-400 hover:text-white pl-2 pt-2">
          <a href="/thread/{{threads.id}}">
            {{threads.thread_name}}
          </a>
        </li>
      {{/each}}
    </ul>

  {{else}}
    {{! if not logged in let user know that the list is available when logged in }}
    <ul
      class="nav flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium bg-gray-900 md:bg-gray-900 border-gray-700"
    >
      <li class="font-mono block py-2 text-gray-700">
        Please
        <a
          href="/login"
          class="hover:bg-gray-100 md:border-0 md:p-0 text-gray-400 hover:bg-gray-900 hover:text-white"
        >
          login
        </a>
        to see Subscribed threads
      </li>

    </ul>
  {{/if}}
</div>