<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {{! <link rel="stylesheet" href="/css/jass.css" /> }}
    {{! <link rel="stylesheet" href="/css/style.css" /> }}
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header
        class="inline-flex justify-between w-full h-32 bg-slate-500 border-b-4 border-double border-slate-300 text-zinc-300"
      >
        <nav class="nav self-center inline-flex w-full justify-start p-5">
          <!-- Conditionally render login or logout links -->
          <button class="no-button m-2" id="home">Home</button>
          <button class="no-button m-2" id="categories">Categories</button>
          {{#if logged_in}}
            <button class="no-button m-2" id="groups">Groups</button>
            <button class="no-button m-2" id="profile">Profile</button>
            <button class="no-button m-2" id="logout">Logout</button>
          {{else}}
          <button class="no-button m-2" id="login">Login</button>
          {{/if}}
        </nav>
      </header>
      <main class="m-5"
        {{!-- class="flex items-center justify-center container container-fluid m-6 p-8 w-full" --}}
      >
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <script src="/js/navigation.js"></script>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>