<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Categories</title>
</head>
<body>
    {{#each categories as |category|}}
    <div class="block p-6 mr-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 relative inset-52">
      <div class="m-5 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <h1>
          Category:
          <a href="/threads/{{category.id}}">{{category.category_name}}</a>
          {{!-- {{category.id}} --}}
        </h1>
      </div>
    </div>
    {{/each}}

    {{#if logged_in}}
<div class="inline-flex justify-between rounded-2xl m-2.5 border border-double border-slate-300">
  <a href="/new-category">Add category</button>
</div>
{{/if}}
</body>
</html>