<div class="category-span w-full">
  <p class="text-center font-bold">
    Categories
  </p>
  {{#each categories as |category|}}
    <button class="w-full p-3 m-3 text-center font-medium bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100" id="{{category.id}}">
        {{category.category_name}}
    </button>
  {{/each}}


  {{#if logged_in}}
  <button class="w-full p-3 m-3 text-center font-medium bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100" id="new-category">
    Add category
  </button>
  {{/if}}
</div>

<script src="./js/categories.js"></script>