<!-- Loop over each object in the projects array -->
{{#each categories as |category|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h1>
        Category:
        <a href="/threads/{{category.id}}">{{category.category_name}}</a>
        {{!-- {{category.id}} --}}
      </h1>
    </div>
  </div>
{{/each}}

{{#if logged_in}}
<div class="row mb-4 project">
  <a href="/new-category">Add category</button>
</div>
{{/if}}