{{> sidebar}}

<!-- new caetgory form -->

<form class="flex-col items-center inline-flex w-full p-6 form category-form">
    <div class="w-80 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 form-group">
        <label class="font-mono block text-gray-700 text-sm font-bold mb-2" for="new-category">New category name:</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline form-input" type="text" id="new-category" />
    </div>
    <div class="ml-3 form-group">
        <button class="font-mono inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Create</button>
    </div>
</form>

<script src="/js/addCategory.js"></script>