<form class="flex-col items-center inline-flex justify-center w-full p-6 form category-form">
    <div class="w-1/5 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 form-group">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="new-category">Category name:</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline form-input" type="text" id="new-category" />
    </div>
    <div class="ml-3 form-group">
        <button class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btn-primary" type="submit">create</button>
    </div>
</form>

<script src="/js/addCategory.js"></script>